.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #1f2020;
    min-height: 10vh;
    border-bottom: black 3px solid;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80%;
}
.hl{
    text-decoration: none;
    color: gray;
}
.hl:hover{
    color: white;
    transition: 0.25s linear;
}
