<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <link href="{{ absolute_url(asset('styles/home.css') )}}" rel="stylesheet">
    </head>
    <body class="body">
        {% include 'blocks/LeftPanel.html.twig'%}

        <form class="create_form" method="post">
            <div class="input_area"><input class="input_text" type="text" name="lastname" placeholder="Lastname"></div>
            <div class="input_area"><input class="input_text" type="text" name="firstname" placeholder="Firstname"></div>
            <div class="input_area"><input class="input_text" type="text" name="patronymic" placeholder="Patronymic"></div>
            <div class="input_area"><input class="input_text" type="text" name="salary" placeholder="Salary"></div>
            <button class="button_create" type="submit" name="submit" title="create"><div class="button_area">create</div></button>
        </form>
    </body>
</html>